*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.default-border{
    border:1px solid #724CF9;
}

.helvetica{
    font-family: Helvetica,Arial,sans-serif;
}

.nav-bar{
    background-color: #bdc8d6;
    padding: 10px 0px 10px 10px
}

.nav-bar-title{
    font-size: 30px;
}

.toolbar-title{
    font-size: 20px;
}

.desktop-title{
    font-size: 20px;
}

.dock-title{
    font-size: 20px;
}

/* Descktop Style */

.desktop{
    background-size:cover;
    height:45rem;
    background-image: url('/Desktop_View/assets/images/default-wallpaper.jpg');
    background-repeat: no-repeat;

}



.meme-folder{
    margin-top: 1rem;
    text-align: center;
}
.meme-img{
    background: rgba(255, 0, 0, 0 );
    background-image: url('/Desktop_View/assets/images/folder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4.5rem 4.5rem;
    border: none;
    height: 3.2rem;
    width: 5.2rem;
}

.meme-tag{
    color:white;
  

}

.test-window{
    background: white;
    height: 10rem;
    width: 10rem;
}



/* Dock Style */




